.form-style {
  background-color: #c66306;
  width: 100%;
  height: auto;
  padding-top: 10%;
  font-family: 'MedievalSharp', cursive;
  padding: 2em;
}
.form-style h1 {
  margin-bottom: 2em;
}

.img-form {
  width: 200px;
  height: 200px;
}

.card-on {
  transform: scale(1.1);
  transition: 0.8s;
  margin: 20px 10px 60px 20px;
}
.card-off {
  margin: 20px 10px 60px 20px;
  transform: scale(1);
  transition: 0.8s;
}
h1 {
  padding-top: 70px;
  padding-bottom: 70px;
  color: #c66306;
}
