.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.nav form {
  position: absolute;
  display: flex;
  right: 110px;
}

.nav img {
  width: 10%;
}

.connect {
  margin-right: 20em;
}
h2 {
  color: #c66306;
}

.nav-btn {
  background-color: #c66306;
  padding: 8px;
}
