.search-display {
  background-color: #997a8d;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-around;
}

.search-img img {
  width: 200px;
  height: 300px;
  margin-top: 20px;
  padding: 2em;
}
.search-img {
  justify-content: space-evenly;
}

.search-display h1 {
  padding: 1em;
}

.search-display p {
  margin: 2em;
}

.search-displayOn {
  transform: scale(1.1);
  transition: 0.8s;
  margin: 20px 10px 60px 20px ; 
}

.search-displayOff {
  transform: scale(1);
  transition: 0.8s;
  margin: 20px 10px 60px 20px ;
  
}